GOOGLE_APPLICATION_CREDENTIALS=~/repo/ik-genai-w4/gdrive-mcp-server/.credentials/gcp_oauth_keys.json
MCP_GDRIVE_CREDENTIALS=~/repo/ik-genai-w4/gdrive-mcp-server/.credentials/.gdrive-server-credentials.json
OPENAI_API_KEY=your-openrouter-key