GOOGLE_APPLICATION_CREDENTIALS=/home/admin/repo/ik-genai-w4/gdrive-mcp-server/.credentials/gcp_oauth_keys.json
MCP_GDRIVE_CREDENTIALS=/home/admin/repo/ik-genai-w4/gdrive-mcp-server/.credentials/.gdrive-server-credentials.json
OPENAI_API_KEY=your-openrouter-key

# LangSmith Tracing
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your-langsmith-token
LANGCHAIN_PROJECT=ikgenai_w4_mcp_backend
