GOOGLE_APPLICATION_CREDENTIALS=/workspace/app/gdrive-mcp-server/.credentials/gcp_oauth_keys.json
MCP_GDRIVE_CREDENTIALS=/workspace/app/gdrive-mcp-server/.credentials/.gdrive-server-credentials.json
OPENAI_API_KEY=your-openrouter-key